{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
{% include 'include/_banner.html.twig' %}
<p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat animi possimus eaque quod perspiciatis impedit ab. Vero, sint omnis, laboriosam ab optio fugit nostrum aspernatur, distinctio suscipit expedita molestias impedit!</p>

<main class ="container">
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">Les membres du Conseil d'administration</h1>
    <h5 class="text-center fs-2 fw-bold">Le Président :   <span class="text-left fs-4 fw-normal">Monsieur Jacques Martinez</span></h5>
    <h5 class="text-center fs-2 fw-bold">Le Trésorier :</h5>
    <p class="text-center fs-5 fw-normal">Monsieur George Emmanuel</p>
    <h5 class="text-left fs-2 fw-bold">Le Secrétaire :  </h5>
    <p class="text-left fs-5 fw-normal">Madame Odile Taffoureau</p>
    <p class="text-center text-secondary fs-5">Ce sont des bénévoles qui gèrent et portent la responsabilité juridique de l'association</p>
</div>
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">La Direction</h1>
    <h5 class="text-center p-3 fs-2 fw-bold">Madame Alexandra Goin</h5>
    <p class="text-center text-secondary fs-5">Elle travaille en lien avec le président de Val Espoir, elle gère aussi le fonctionnement administratif de Val Espoir.</p>
</div>
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">La Direction Adjoint</h1>
    <h5 class="text-center p-3 fs-2 fw-bold">Monsieur Marcueyz Vianney</h5>
    <p class="text-center text-secondary fs-5">Il gère les encadrants techniques et la planification des chantiers. Il établit les devis et le suivi de la clientèle.</p>
</div>
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">La Conseillère en Insertion Professionelle </h1>
    <h5 class="text-center p-3 fs-2 fw-bold">Madame Amandine Beauvais</h5>
    <p class="text-center text-secondary fs-5">La conseillère vous aide à résoudre des problèmes à finalité professionnelle. Elle conseille et propose des actions d'accompagnement professionnel afin de favoriser l'emploi et l'insertion.</p>
</div>
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">La Conseillère en Insertion Professionelle </h1>
    <h5 class="text-center p-3 fs-2 fw-bold">Monsieur Juan Familiar - Monsieur Bastien Vacher (Olivet)</h5>
    <h5 class="text-center p-3 fs-2 fw-bold">Monsieur Sylvain Billoir (Jargeau) </h5>
</div>
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">Les Deux Structures</h1>
    <h5 class="text-center p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
    <h5 class="text-center p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
</div>
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">Public Visé</h1>
    <h5 class="text-start p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
    <h5 class="text-start p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
    <h5 class="text-start p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
    <h5 class="text-end p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
    <h5 class="text-end p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
    <h5 class="text-end p-2 fs-2 fw-bold">. Amet minim mollit non</h5>
</div>
<div>
    <h1 class="text-center bg-secondary fs-1 fw-bold">Comment l'Association Aide</h1>
    <p class="text-center fs-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, blanditiis delectus! Dignissimos totam et accusamus quisquam quam ullam dolor laboriosam vero beatae aspernatur, error in cum nostrum facere labore odio?</p>
</div>
{% endblock %}
