<div class="banner banner-site"></div>
<div class="title">
	<h1 class="bienvenue">Nos réalisations</h1>
	<p class="ban-accueil pb-0 mb-0 fs-5">Nous proposons différents services d'entretien et d'aménagement des espaces
		verts :</p><br />
	<div class="row">
		<div class="col-lg-6">
			<div class="">
				<div class="d-flex flex-column justify-content-center p-2">
					<div class="align-self-center">
						<li>Taille des haies</li>
						<li>Désherbage manuel</li>
						<li>Tonte des pelouses</li>
						<li>Bûcheronnage et débroussaillage</li>
						<li>Installation de mobilier extérieur</li>
						<li>Création de marches en bois et garde-corps</li>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="">
				<div class="d-flex flex-column justify-content-center p-2">
					<div class="align-self-center">
						<li>Broyage de végétaux</li>
						<li>Arrosage de végétaux</li>
						<li>Ramassage de feuilles</li>
						<li>Piquetage et réalisation de propreté urbaine</li>
						<li>Arrachage de plantes invasives dans les rivières</li>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<p>N'hésitez pas à nous contacter pour une demande de devis.</p>
		</div>
		<div class="logo logo-site d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img
				src="{{ asset('build/images/logo2.png') }}"></div>
	</div>
</div>