<div class="banner banner-site"></div>
<div class="title">
	<h1 class="bienvenue">Nos réalisations</h1>
	<p class="ban-accueil pb-0 mb-0 fs-5">Nous proposons différents services d'entretien et d'aménagement des espaces verts :</p><br/>
	<ul class="columns">
		<li>Tonte des pelouses</li>
		<li>Taille des haies</li>
		<li>Désherbage manuel</li>
		<li>Installation de mobilier extérieur</li>
		<li>Création de marches en bois et garde-corps</li>
		<li>Bûcheronnage et débroussaillage</li>
		<li>Arrachage de plantes invasives dans les rivières</li>
		<li>Broyage de végétaux</li>
		<li>Ramassage de feuilles</li>
		<li>Arrosage de végétaux</li>
		<li>Piquetage et réalisation de propreté urbaine</li>
	</ul>
	<p>N'hésitez pas à nous contacter pour une demande de devis.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>
