<div class="banner banner-site"></div>
<div class="title">
	<h1 class="bienvenue">Nos réalisations</h1>
	<p class="ban-accueil pb-2 mb-1 fs-5">Nous proposons différents services d'entretien et d'aménagement des espaces verts :<br/>
    Tonte des pelouses, taille des haies, désherbage manuel, installation de mobilier extérieur, création de marches en bois et garde-corps, bûcheronnage et débroussaillage, arrachage de plantes invasives dans les rivières, broyage de végétaux, ramassage de feuilles, arrosage de végétaux, piquetage et réalisation de propreté urbaine.<br/>
    N'hésitez pas à nous contacter pour une demande de devis.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>