{% extends 'base.html.twig' %}

{% block title %}Réalisations - Val Espoir
{% endblock %}

{% block banner %}
	{% include 'site/_banner.html.twig' %}
{% endblock %}

{% block body %}
	<main class="container content-row mb-4 mt-5">
		<div class="row g-4 mb-5 mt-4 ">
			{% for site in sites %}
				<div class="card-actuality col-sm-6 col-xxl-4">
					<a class="h-100" href="{{ path('site_show', {id: site.id}) }}">
						<div class="card bg-light mb-4 h-100">
							<img class="card-img h-100" src={% if site.afterPicture is defined %} "{{ vich_uploader_asset(site, 'afterPictureFile') }}" {% else %} "{{ asset('build/images/placeholder-site.jpg') }}" {% endif %} alt="site-image">
							<div class="card-img-overlay h-100 m-0 p-0 d-flex flex-column justify-content-end">
								<div class="card-footer bg-dark text-center text-light opacity-75">
									<p class="m-0">
										{{ site.title }}
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			{% else %}
				Aucune réalisation
			{% endfor %}
		</div>
	</main>
{% endblock %}
