{% extends 'base.html.twig' %}

{% block title %}Editer un Partenaire
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<h1 class="text-dark text-center mb-5 mt-5">Editer un partenaire</h1>
		{{ include('admin_partner/_form.html.twig', {'button_label': 'Editer'}) }}
		{{ include('admin_partner/_delete_form.html.twig') }}
		<div class="mt-5">
			<a class="text-decoration-none" href="{{ path('partner_index') }}">Retour</a>
		</div>
	</main>
{% endblock %}
