<main class="container mb-4 mt-5">
	<div class="row g-0">
		<div class="col-md-6 mb-4 mt-5">
			<div class="card-body bg-light opacity-75">
				<h2 class="card-title text-dark text-center mb-3">Nos dernières Actualités</h2>
				<p class="card-text text-dark">Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes
					eius, a quo dissentias:
					</br>
					cum praesertim illa perdiscere ludus esset. Quam ob rem dissentientium inter se reprehensiones non
					sunt vituperandae. cum praesertim illa inter se reprehensiones non perdiscere ludus esset cum
					praesertim illa .</p>
				<a button type="button" class="btn btn-primary opacity-75 text-light mt-2" href="{{ path('actuality_index') }}">Voir plus d'actualités</a>
			</div>
		</div>
		<div class="offset-1 col-md-5 mb-4 mt-5">
			<div id="carouselActualityControls" class="carousel slide " data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for actuality in actualities %}
					<div class="carousel-item {{ loop.first ? 'active' : '' }}">
						<img class="img-fluid d-block w-100 " src={% if actuality.Image is defined %} {% else %} "{{ asset('build/images/placeholder-site.jpg') }}" {% endif %} alt="actuality-image">
						<div class="card-header text-light bg-dark opacity-75 text-center">{{ actuality.title }}</div>
					</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselActualityControls"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselActualityControls"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</main>