<main class="container mt-5 mb-5">
	<div class="row g-0">
		<div class="col-md-12 col-lg-12 col-xl-5 mt-4 mb-5">
			<div id="carouselJobControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for job_offer in jobOffers %}
						<div class="carousel-item {{ loop.first ? 'active' : '' }}">
							<img class="img-fluid d-block w-100 " src="{{ asset('build/images/placeholder-job.jpg') }}" alt="job-offer-image">
							<div class="card-header text-light bg-dark opacity-75 text-center">{{ job_offer.title }}</div>
						</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselJobControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselJobControls" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="offset-md-0 col-md-12 offset-lg-0 col-lg-12 offset-xl-1 col-xl-6 mt-4 mb-5">
			<div class="card-body bg-light opacity-75">
				<h2 class="card-title text-dark text-center mb-3">En savoir plus</h2>
				<p class="card-text text-dark mb-4">Val Espoir recrute! </br> Vous pouvez voir nos offres d'emplois récurrentes et découvrir celles qui sont en cours sur notre page dédiée.</br> N'hésitez pas à nous contacter via le formulaire de contact.</p>
				<a button type="button" class="btn btn-primary text-light" href="{{ path('job_offer_index') }}">En savoir plus</a>
			</div>
		</div>
	</div>
</main>
