<main class="container mb-5">
	<div class="row g-0">
		<div class="col-md-5">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="https://images.prismic.io/cadremploi-edito/132d802d-bb5a-421b-bfca-fbab76717700_shutterstock_1678489339.jpg?auto=compress,format&rect=0,84,1000,500&w=800&h=400" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="https://www.fondation.veolia.com/sites/g/files/dvc3696/files/styles/media/public/image/2015/08/14SE1791_Sauvegarde_Val_dOise_0.jpg?h=2e580042&itok=3uLaAvub" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="https://images.prismic.io/cadremploi-edito/132d802d-bb5a-421b-bfca-fbab76717700_shutterstock_1678489339.jpg?auto=compress,format&rect=0,84,1000,500&w=800&h=400" class="d-block w-100" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="offset-1 col-md-6">
			<div class="card-body">
				<h2 class="card-title">Nos dernières réalisations</h2>
				<p class="card-text">Nous proposons différents services d'entretien et d'aménagement des espaces verts:</br>
			Tonte des pelouses, taille des haies, désherbage manuel, installation de mobilier extérieur, création de marches en bois et garde-corps, bûcheronnage et débroussaillage, arrachage de plantes invasives dans les rivières, fabrication et pose de clôtures.</p>
            </div>
	    </div>
    </div>
</main>
