<div class="banner banner-member"></div>
<div class="title">
	<h1 class="bienvenue">Les membres de Val Espoir</h1>
	<p class="ban-accueil pb-2 mb-1 fs-5">L’Association Val Espoir a été créée en 2011 à l’initiative de 4 communes fondatrices :<br/>
	Saint-Denis en Val, Saint-Cyr en Val, Saint-Jean le Blanc et Sandillon, rejointes par 2 communes associées : Jargeau et Olivet.<br/>
En 2015, Val Espoir a créé une seconde antenne à Jargeau afin de proposer l’Insertion par l’Activité Economique à des personnes qui n’y avaient pas accès sur ce territoire.<br/>
Enfin, l’Entreprise d’Insertion (EI) a été créée en novembre 2019 pour répondre à des besoins plus spécifiques de clients.<br/>
Val Espoir est composée d'un Conseil d'Administration comptant 24 membres, de 6 salariés permanents et de 20 salariés en CDDI.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>