<div class="banner"></div>
<div class="title">
	<h1 class="bienvenue">L'équipe Val Espoir</h1>
	<p class="ban-accueil pb-2 mb-1">Val Espoir est composée d'un Conseil d'Administration comptant 24 membres, de 6 salariés permanents et de 20 salariés en CDDI.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>