{% extends 'base.html.twig' %}

{% block title %}Association
{% endblock %}

{% block body %}
	{% include 'member/_banner.html.twig' %}
	<main class="container">
		<h2 class="text-center text-success">ValEspoir</h2>
		<div>
			<h3 class="text-center bg-secondary  fw-bold">La création de l'association en quelques dates</h3>
			<p class="text-start p2 fw-bold">- L'Association Val Espoir a été créée en 2011 à l'initiative de 4 communes fondatrices : Saint-Denis en Val, Saint-Cyr en val, Saint-Jean le Blanc et Sandillon, rejointes par 2 communes associées : Jargeau et Olivet.</p>
			<p class="text-start p2 fw-bold">- En 2015, Val Espoir a créé une seconde antenne à Jargeau afin de proposer l'Insertion par l'Activité Economique à des personnes qui n'y avait pas accès sur ce territoire.</p>
			<p class="text-start p2 fw-bold">- Enfin, l'Entreprise d'Insertion (EI) a été créée en novembre 2019 pour répondre à des besoins plus spécifiques de clients.</p>
		</div>
		{% for member in members %}


			<div class="card m-3">
				<div class="card-body">
					<h3 class="card-title text-center">{{ member.name }}</h3>
					<h5 class="card-title text-center">{{ member.role }}</h5>
					<p class="card-text text-center">{{ member.description }}</p>
				</div>
			</div>

		{% endfor %}
		<div>
			<h3 class="text-center bg-secondary  fw-bold">A qui s'adresse Val Espoir</h3>
			<p class="text-center p-2  fw-bold">. Des jeunes sans qualification ou sans expérience professionelle,</p>
			<p class="text-center p-2  fw-bold">. Des bénéficiaires des minima sociaux,</p>
			<p class="text-center p-2  fw-bold">. Des demandeurs d'emploi de longue durée,</p>
			<p class="text-center p-2  fw-bold">. Des personnes reconnues travailleurs handicapés,</p>

		</div>
		<div>
			<h3 class="text-center bg-secondary  fw-bold">Nos engagements</h3>
			<p class="text-center p-2 fw-bold">Val Espoir a pour but de lever les freins à l'emploi de personnes en difficulté d'insertion et d'emmener les salariés en insertion à l'emploi ou la formation en mettant en oeuvre un accompagnement personnalisé et professionnel pour chacun de ses salariés.</p>
			<p class="text-center p-2 fw-bold">Tout au long de son contrat de travail, le salarié bénéficie d'un accompagnement social et professionnel adapté à sa situation professionnelle, l'objectif étant de faciliter son retour à l'emploi durable et/ou à la formation professionelle.</p>
		</div>
	</main>

{% endblock %}
