{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
{% include 'include/_banner.html.twig' %}

<h2 class="text-center text-success">ValEspoir est une association</h2>
{% for member in members %}
<main class ="container">
<div>
<<div class="card m-3">
    <div class="card-body">
      <h3 class="card-title text-center">{{ member.name }}</h3>
      <h5 class="card-title text-center">{{ member.role }}</h5>
      <p class="card-text text-center">{{ member.description }}</p>
    </div>
  </div>
</div>
{% endfor %}
<div>
    <h3 class="text-center bg-secondary  fw-bold">Les Deux Structures</h3>
    <p class="text-center p-2  fw-bold">Jargeau</p>
    <p class="text-center p-2  fw-bold">Olivet</p>
</div>
<div>
    <h3 class="text-center bg-secondary  fw-bold">Public Visé</h3>
    <p class="text-center p-2  fw-bold">Jeunes</p>
    <p class="text-center p-2  fw-bold">vieux</p>
    <p class="text-center p-2  fw-bold">con</p>
</div>
<div>
    <h3 class="text-center bg-secondary  fw-bold">Comment l'Association Aide</h3>
    <p class="text-center p-2 fw-bold">Bonjour</p>
</div>

{% endblock %}
