<div class="banner banner-job"></div>
<div class="title">
	<h1 class="bienvenue">Nos engagements</h1>
	<p class="ban-accueil pb-2 mb-1">Val Espoir a pour but de lever les freins à l'emploi de personnes en difficulté d'insertion en mettant en œuvre un accompagnement personnalisé et professionnel pour chacun de ses salariés.</br>
Tout au long de son contrat de travail, le salarié bénéficie d’un accompagnement social et professionnel adapté à sa situation professionnelle, l’objectif étant de faciliter son retour à l’emploi durable et/ou à la formation professionnelle.</br>
L’accompagnement social et professionnel se déroule sous forme d’entretiens individuels et/ou collectifs avec la Conseillère en Insertion Professionnelle. Cet accompagnement permet d’élaborer un projet (recherche d’emploi/formation) et de le mettre en œuvre.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>