{% extends 'base.html.twig' %}

{% block title %}Hello SitesController!{% endblock %}

{% block body %}


<main class="container">
    <h1 class="text-center text-primary">Nos réalisations</h1>

</main>
{% endblock %}
