<div class="banner"></div>
<div class="title">
	<h1 class="bienvenue">Nos partenaires et financeurs</h1>
	<p class="ban-accueil pb-2 mb-1 fs-5">Ils nous font confiance. Val Espoir propose ses services essentiellement à des collectivités territoriales, mais aussi à des entreprises, des associations et des particuliers qui souhaitent renforcer leurs démarches vers l’économie sociale et solidaire.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>