<div class="banner"></div>
<div class="title">
	<h1 class="bienvenue">Partenaires</h1>
	<p class="ban-accueil pb-2 mb-1">Vous trouverez ci-dessous la liste des principaux partenaires qui aident Val Espoir à se développer.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>