{% extends 'base.html.twig' %}

{% block body %}
	{% include 'partner/_banner.html.twig' %}
	<main class="container">
		<div class="row">
			<div class="text-center my-5 row-4 rounded-2">
				<h2 class="text-center text-success">Les partenaires</h2>
			</div>
			<div class="row col-5">
				{% for partner in partners %}
					<div class="card card-partner mb-4">
						<div class="row d-flex justify-content-evenly g-0">
							<div class="col-sm-3 d-flex align-items-center col-xxl-4">
								<img class="col-8 d-flex justify-content-center rounded-start" src={% if partner.picture is defined %} "{{ vich_uploader_asset(partner, 'pictureFile') }}" {% else %} {{ partner.name }} {% endif %} alt="partner-image">
							</div>
							<div class="col-sm-6 col-xxl-8">
								<div class="card-body m-2">
									<h3 class="card-title">{{ partner.name }}</h3>
									<div class="d-flex justify-content-end">
										<a class="btn btn-primary text-light px-3 opacity-75 rounded" target="_blank" href="{{ partner.link }}">Site web du partenaire</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
