<div class="banner"></div>
<div class="title">
	<h1 class="bienvenue">Bienvenue</h1>
	<p class="ban-accueil"> Val Espoir est une association porteuse d'un chantier d'insertion. Elle accompagne des personnes présentant des difficultés particulières d'accès à l'emploi dans leurs démarches. Son domaine d'activité est l'entretien et l'aménagement d'espaces verts ou naturels.</p>
</div>