<div class="banner"></div>
<div class="title">
	<h1 class="bienvenue">Bienvenue</h1>
	<p class="ban-accueil pb-2 mb-1"> Val Espoir est une association porteuse d'un chantier d'insertion. Elle accompagne des personnes présentant des difficultés particulières d'accès à l'emploi dans leurs démarches. Son domaine d'activité est l'entretien et l'aménagement d'espaces verts ou naturels.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>