.banner {
    background-repeat: no-repeat;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center 30%;
    width: $width-banner;
    height: $height-banner;
}

.title {
    background-color: $primary;
    text-align: center;
    color: $light-color;
    opacity: 0.8;
    width: $width-banner-title;
    max-width: 1200px;
    margin: auto;
    margin-top: calc(-2 * $main-title-size + $spacing2);
    border-radius: $border-radius;
    margin-bottom: 70px;  
}

.title h1 {
    margin: 28px;
}

.title p {
    margin: $spacing1;
    padding-bottom: $spacing2;
}