<form method="post" action="{{ path('adminJob_offer_delete', {'id': job_offer.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette offre d\'emploi ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_offer.id) }}">
    <button class="btn btn-outline-dark rounded fs-5">Supprimer</button>
</form>
