{% extends 'base.html.twig' %}

{% block title %}Edit JobOffer
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="text-center text-dark mt-5 mb-5">Éditer une offre d'emploi</h1>
		{{ include('adminJob_offer/_form.html.twig', {'button_label': 'Éditer'}) }}
		<a class="text-decoration-none ms-2" href="{{ path('adminJob_offer_index') }}">
			<span class="iconify mb-1" data-icon="bx:bx-chevron-left" style="color: #149e1d;" data-width="34" data-height="34"></span>Retour</a>
	</main>
{% endblock %}
