{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row text-center mb-5 mt-5">
			<h1 class="text-dark">Connexion à l'administration de Val Espoir</h1>
		</div>
		<div class="row">
			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
		</div>
		<div class="card mb-5 col-lg-6 offset-lg-3 rounded-2">
			<div class="card-text p-3 mb-3 rounded-top d-flex justify-content-center align-content-center">
				<p class="text-dark mt-2 mb-0">Identification</p>
			</div>
			<form action="{{ path('login') }}" method="post" class="d-flex flex-column mb-5 container">
				<div class="mb-4 text-dark fs-5">
					<label for="username" class="me-5 ms-5">Email</label>
					<input type="email" id="username" name="_username" value="{{ last_username }}"/>
				</div>
				<div class="mb-5 text-dark fs-5">
					<label for="password" class="me-4">Mot de passe</label>
					<input
					type="password" id="password" name="_password"/>

				{# If you want to control the URL the user is redirected to on success
						<input type="hidden" name="_target_path" value="/account"/> #}
				</div>
				<button class="btn btn-outline-dark col-sm-3 offset-sm-4 fs-5" type="submit">Se connecter</button>
			</form>
		</div>
	</main>
	{% endblock %}
