{% extends 'base.html.twig' %}

{% block title %}Edit Actuality{% endblock %}

{% block body %}
<main class="container-fluid">
    <h1 class="text-dark text-center mb-5 mt-5">Editer une actualité</h1>

    {{ include('adminActuality/_form.html.twig', {'button_label': 'Éditer'}) }}
    {{ include('adminActuality/_delete_form.html.twig') }}
    <div class="mt-5">
        <a class="text-decoration-none" href="{{ path('admin_actualite_index') }}">
            < Retour</a>
    </div>
</main>
{% endblock %}