.footer,
a {
    color: $dark;
}

.map {
    border-radius: $border-radius;
    border-color: $secondary;
}

.play {
    color: $light;
}

.mention-legale {
    background-color: $footer;
}

.map {
    height: 350px;
    width: 350px;
    border-radius: $border-radius;
}
