.footer{
    color: $dark;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 24px;
}

.map {
    border-radius: $border-radius;
    border-color: $secondary;
}

.play {
    color: $light;
}

.mention-legale {
    background-color: $footer;
}

.map {
    height: 350px;
    width: 350px;
    border-radius: $border-radius;
  
a {
    color: $dark;
}
