.card-actuality {
    flex-wrap: wrap-reverse;
    transition: transform 0.2s;

    &:hover {
        filter: brightness(110%);
        box-shadow: 0px 0px 30px -15px $dark;
        overflow: hidden;
        transform: scale(1.02);
    }
}

.card-img {
    height: 100%;
}

.card-body {
    height: 310px;
}
