@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700&family=Outfit:wght@200;600&family=Rubik:wght@300;400&display=swap");
@import "_footer.scss";
@import "navbar.scss";
@import "banner.scss";
@import "site.scss";
@import "actualities.scss";
@import "partner.scss";
@import "job.scss";

:root {
    h1,
    h2,
    h3,
    h4 {
        font-family: $title-font;
    }

    h1 {
        font-size: $main-title-size;
    }

    h2 {
        font-size: $second-title-size;
    }

    h3 {
        font-size: $title-size;
    }

    p,
    a,
    li {
        font-family: $text-font;
        font-size: $text-size;
    }

    @media (min-width: 340px) and (max-width: 580px) {
        h1 {
            font-size: 44px;
            text-align: center;
        }
        h2 {
            font-size: 30px;
            text-align: center;
        }
        h3 {
            font-size: 24px;
            text-align: center;
        }
        p,
        a,
        li {
            font-size: 16px;
            text-align: center;
        }
    }
}
