@import 'variables.scss';
@import 'banner.scss';
@import 'carousel.scss';

body {
    background-color: $light;
}

h1, h2, h3, h4 {
    font-family: $title-font;
}

h1 {
    font-size: $main-title-size;
}

h2 {
    font-size: $second-title-size;
}

h3 {
    font-size: $title-size ;
}

p, a, li {
    font-family: $text-font;
    font-size: $text-size;
}
