.banner {
    background-repeat: no-repeat;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center 30%;
    width: $width-banner;
    height: $height-banner;
}

.title {
    background-color: $light;
    text-align: center;
    color: $primary;
    opacity: 0.75;

    background-color: $light;
    text-align: center;
    color: $primary;

    width: $width-banner-title;
    max-width: 1300px;
    margin: auto;
    margin-top: -2.1 * $main-title-size + $spacing2;
    border-radius: $border-radius;
    margin-bottom: 70px;
}

.title h1 {
    margin: 28px;
}

.title p {
    margin: $spacing1;
    padding-bottom: $spacing2;
}

.logo {
    filter: grayscale(10%) brightness(100%);
}
