.card-body {
    height: 460px;
    border-radius: $border-radius;
    background-color: transparentize($secondary,0.7);
    padding: 40px;
}

.carousel-inner {
    height: 460px;
    border-radius: $border-radius;

    img {
        object-fit: cover;
        height: 460px;
        width: 100%;
    }
}
