.card-body {
    height: 460px;
    border-radius: $border-radius;
    padding: 40px;
    overflow-y: auto;
}

.carousel-inner {
    height: 460px;
    border-radius: $border-radius;

    .carousel-item {
        position: relative;

        .card-header {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        img {
            object-fit: cover;
            height: 460px;
            width: 100%;
        }
    }
}
