.container-form {
    background-color: $secondary;
    border-radius: $border-radius;
    width: 80%;
    max-width: 1300px;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
}

.form-group {
    margin-top: 80px;
    font-family: $text-font;
}