.card-job {
    flex-wrap: wrap-reverse;
    transition: transform 0.2s;

    &:hover {
        filter: brightness(110%);
        box-shadow: 0px 0px 30px -15px $dark;
        overflow: hidden;
        transform: scale(1.02);
    }
}

.job-img {
    height: 100%;
}

.job-body {
    height: 310px;
}

h1 {
    margin-top: 200px;
    margin-bottom: 40px;
}
