.card-partner {
    flex-wrap: wrap-reverse;
    transition: transform 0.2s;

    &:hover {
        filter: brightness(120%);
        box-shadow: 0px 0px 30px -15px $dark;
        overflow: hidden;
        transform: scale(1.05);
    }

    .partner-img {
        height: 100%;
    }

    .partner-body {
        height: 280px;
    }
}
