body {
    background-color: $dark;
    min-height: 100vh;
}

.card-site {
    transition: transform 0.2s;
    height: 460px;

    &:hover {
        filter: brightness(110%);
        box-shadow: 0px 0px 30px -15px $dark;
        overflow: hidden;
        transform: scale(1.02);
    }
}

h1 {
    margin-top: 200px;
    margin-bottom: 20px;
}

.card-img {
    object-fit: cover;
    height: 100%;
}
