$primary: #149e1d;
$secondary: #e3e3e3;
$success: #73a53e;
$dark: #545454;
$footer: #4F4E4E;
$light: #FAFAFA;
$title-font: 'Exo', sans-serif;
$text-font: 'Rubik', sans-serif;
$main-title-size: 64px;
$second-title-size: 41px;
$title-size: 31px;
$text-size: 24px;
$width-banner: 100%;
$height-banner: 400px;
$width-banner-title: 85%;
$spacing1: 24px;
$spacing2: 34px;
$border-radius: 8px;
