$primary-color: #149E1D;
$secondary-color: #73A53E;
$darkLight-color: #545454;
$dark-color: #000000;
$grey-color: #E3E3E3;
$light-color: #FFFFFF;
$title-font: 'Exo', sans-serif;
$text-font: 'Rubik', sans-serif;
$main-title-size: 64px;
$second-title-size: 51px;
$title-size:41px;
$text-size: 24px;

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700&family=Outfit:wght@200;600&family=Rubik:wght@300;400&display=swap');
