<div class="banner banner-actuality"></div>
<div class="title">
	<h1 class="bienvenue">Nos actualités</h1>
	<p class="ban-accueil pb-2 mb-1 fs-5">Développer les compétences :<br/>
Nos salariés en insertion sont régulièrement formés sur les métiers des espaces verts. Dernièrement, des formations taille de haies, taille d'arbustes et utilisation de la tronçonneuse leur ont été dispensées par notre équipe de permanents, constituée de professionnels qualifiés.<br/>
Entretenir les outils de travail et gagner en sécurité :<br/>
Pour le bon fonctionnement des équipements et la sécurité de tous sur nos chantiers, des formations entretien du matériel et sécurité sur la voie publique ont également eu lieu.
L'occasion pour tous de s'approprier/se réapproprier les codes du travail.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>