<div class="banner"></div>
<div class="title">
	<h1 class="bienvenue">Nous contacter</h1>
	<p class="ban-accueil pb-2 mb-1">Pour toute demande d'interventions, merci de bien vouloir remplir notre formulaire de contact. Nous vous répondrons dans les meilleurs délais.</p>
	<div class="logo d-flex align-items-end justify-content-end m-0 me-4 pb-3"><img src="{{ asset('build/images/logo2.png') }}"></div>
</div>