{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

{% include 'include/_banner.html.twig' %}

	<main class="container">
		<div>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button type="submit">Envoyer</button>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
