<footer class="footer footer-expand-md footer-dark" id="footer">
	<div class="justify-content-center d-flex">
		<div class="p-3">
			<a class="text-dark" href="#lien1" target="_blank"><img id="#logo1" src="" class=""/>Lien 1</a>
		</div>
		<div class="p-3">
			<a class="text-dark" href="#lien2" target="_blank"><img id="#logo2" src="" class=""/>Lien 2</a>
		</div>
		<div class="p-3">
			<a class="text-dark" href="#lien3" target="_blank"><img id="#logo3" src="" class=""/>Lien 3</a>
		</div>
		<div class="p-3">
			<a class="text-dark" href="#lien4" target="_blank"><img id="#logo4" src="" class=""/>Lien 4</a>
		</div>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.9198313355445864%2C47.84658914911056%2C1.923189461231232%2C47.848232594956755&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small>
			<a href="https://www.openstreetmap.org/#map=19/47.84741/1.92151"></a>
		</small>
	</div>

</footer>