{% extends 'base.html.twig' %}
{% block title %}
	Mentions légales
{% endblock %}
{% block body %}
	<div class="container text-center p-5 mt-5 text-light">
		<p>Dénomination sociale ou raison sociale:
			<b>Val Espoir</b>
		</p>
		<p>Adresse du siège social
			<b>84 allée Antoine Petit 45160 Olivet</b>
		</p>
		<p>Numéro de téléphone:
			<b>06 30 39 26 31</b>
		</p>
		<p>Adresse de courrier électronique:
			<b>contact@valespoir.org</b>
		</p>
		<p>Forme juridique de la société:
			<b>Association</b>
		</p>
		<p>Montant du capital social
			<b>0</b>
		</p>
		<p>Nom du directeur / de la directrice</p>
		<b>Alexandra GOIN</b>
		<p>Raison sociale
			<b>OVH</b>
		</p>
	</div>
{% endblock %}
