<form method="post" action="{{ path('admin-chantier_supprimer', {'id': site.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site.id) }}">
    <button class="btn btn btn-outline-dark rounded ms-5 fs-5">Supprimer</button>
</form>
