{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
    <h1>Edit Site</h1>

    {{ include('adminSite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adminSite_index') }}">back to list</a>

    {{ include('adminSite/_delete_form.html.twig') }}
{% endblock %}
