{% extends 'base.html.twig' %}

{% block body %}
	<h1>Aïe...</h1>

	<p>
		Une erreur inattendue s'est produite... Essayez de rafraîchir la page ou vous pouvez toujours
		<a href="{{ path('home') }}">retourner à l'accueil</a>.
	</p>
{% endblock %}
