{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page introuvable...</h1>

    <p>
        Nous n'avons pas trouvé la page demandée. Peut-être l'orthographe n'est-il pas le bon ?
        Vous pouvez toujours <a href="{{ path('home') }}">retourner à l'accueil</a>.
    </p>
{% endblock %}